
<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/revinpatel">Revin</a>.
  </p>
  <br />
  <p>
    Revin has undertaken this task with no prior experience doing such work.
  </p>
  <p>
    If you want to Inspire, start learning how to code 
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Revin Patel</h2>
    <br />
    <p>
      Revin Patel is an entrepreneur and opportunist. Looking to always advance!
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />




</div>

